* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background:lightskyblue;
}

.container {
  width: 70%;
  padding: 50px 0;
  background: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  text-align: center;
}

.bar {
  width: 90%;
  height: 50px;
  background: silver;
  margin: 10px auto;
  border-radius: 50px;
  overflow: hidden;
}

.fill {
  width: 1%;
  height: 100%;
  background: linear-gradient(45deg, #ee81a0, #f3efee,#ffdd00,rgb(173, 9, 223),green,#f00144);
}

.counter {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
  color: #f00144;
  padding: 5px 0;
  margin-top: 20px;
}

button {
  border: none;
  outline: none;
  width: 20%;
  height: 15%;
  text-transform: uppercase;
  font-size: 20px;
  font-weight:bold;
  font-family: 'Courier New', Courier, monospace;
  color:rgb(242, 10, 107);
  margin-top: 20px;
  padding: 10px 10px;
  background: rgb(245, 239, 239);
  border-radius: 2rem;
  cursor: pointer;
  border: 3px solid rgb(165, 35, 52);

}

.output {
  width: 50%;
  padding: 30px 0;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  text-align: center;
  color:rgb(227, 157, 15);
  font-size:40px;
  font-weight: bold;
  display:none;
}

#check {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5px solid #f00144;
  line-height: 150px;
  font-size: 65px;
  color: #f00144;
  animation: task1 10s ease-in-out;

}

@keyframes task1 {

  0% {
      transform: translateY(60px) scale(0.7) rotate(0deg);
      opacity: 0.5;
      color: #fd5900;
  }

  50% {
      transform: scale(0.3) rotate(90deg) skewY(-40deg);
      width: 50px;
      color: aqua;
  }

  75% {
      transform: scale(1.4) rotate(180deg) skewY(-40deg);
      width: 10px;
      color: blueviolet;
  }

  100% {
      transform: translateY(0px) scale(1) rotate(360deg);
      opacity: 1;
      color: #f00144
  }
}


